@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    background-color: #161616;
}

section{
    margin: 0 auto;
    width: 80%;
    min-height: 100vh;
    height: fit-content;
    background-color: #161616;
    padding: 1rem 2rem;
}
@media screen and (max-width: 700px) {
    section{
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    section{
        width: 100%;
    }
}

.formDiv{
    display: flex;
    justify-content: center;
    color: white;
    position: relative;
    /* border: 2px solid red; */

}

@media screen and (max-width: 600px) {
    .formDiv{
        justify-content: flex-end;
    }
}

.formDiv h1{
    position: absolute;
    left: 0;
    /* border: 2px solid red; */
}

form{
    /* border: 2px solid red; */
    justify-self: center;
    width: 50%;
    display: flex;
    flex-wrap: nowrap;

}

@media screen and (max-width: 600px) {

    form{
        width: 70%;
    }
}

@media screen and (max-width: 400px) {

    .formDiv{
        flex-direction: column;
        align-items: center;
    }

    .formDiv h1{
        position: relative;
    }

    form{
        width: 100%;
    }
}

#task{
    /* height: 100%; */
    padding: 0 .4rem;
    width: 88%;
    margin-right: .2rem;
    border-radius: 25px;
    border: 1px solid grey;
    outline: none;
}

#submit{
    width: 1.8rem;
    height: 1.8rem;
    background-color: #eee;
    border: 2px solid #aaa;
    border-radius: 50%;
    outline: none;

}

.lists{
    /* border: 2px solid red; */
    margin-top: .5rem;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

@media screen and (max-width: 740px) {
    .lists{
        grid-template-columns: 1fr;
    }
}

.border{
    padding: 2px;
    height: fit-content;
    border-radius: 19px;
    background-image: linear-gradient(45deg, #37ce37, #0077ff, #37ce37, #0077ff);
    /* height: 200px; */
}

.List{
    padding: .6rem .8rem;
    color: white;
    background-color: #444;
    height: fit-content;
    border-radius: 18px;
}

h2{
    border-bottom: 1px solid white;
    margin-bottom: .4rem;
}

ul{
    list-style: none;
}

li{
    padding: .3rem .4rem;
    border-radius: 15px;
    margin-bottom: 5px;
    font-weight: 300;
    word-break: break-all;
}

li:nth-child(even){
    background-color: #00000025;
}
li:nth-child(odd){
    background-color: #0000006c;
}


input[type="checkbox"] {
    /* appearance: none; */
    margin-right: .3rem;
    border-radius: 50%;

    background-color: red;
}

.biri{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    background-color: #37ce37;
}

.biri input:checked{
    background-color: blue;
}